<header>
    <nav>

        <div  style="height: 60px;" class="ui inverted menu">
            <a class="active item" routerLink="/" >
              Home
            </a>
            <a class="item" routerLink="/movies">
              Movies
            </a>
            <a class="item" routerLink="/contact">
              Contact 
            </a>
            <a class="item" routerLink="/new-movie">
              Nouveau film 
            </a>
            <a class="item" style="float: right;" routerLink="/login">
                Login 
            </a>
        </div>
    </nav>
</header>
<main>
    <!-- Le composanr sera afficher ici-->
    <router-outlet></router-outlet>
</main>
<footer></footer>

